/*/////////////////////////////////////*/
/*             main index              */
/*/////////////////////////////////////*/
main {
  display: flex;
  flex-direction: column;
}

#aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ContAbout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
  color: var(--color-blanco);
  padding: 30px 20px;
}

#ContAbout h3 {
  width: 550px;
  line-height: 30px;
  margin-bottom: 20px;
  font-weight: 100;
}

#ContTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}

#ContTitle h1:nth-child(1) {
  color: var(--color-green);
}

.title {
  font-family: Playfair, Montserrat;
}

/*---------------------------------------*/
#flexButtons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

#proyectosButton {
  background: var(--color-blanco);
  color: var(--color-negro);
}

#aboutMeButton,
#projectsIndex {
  background: transparent;
  color: var(--color-blanco);
}

#proyectosButton,
#aboutMeButton

/*#projectsIndex*/
  {
  display: flex;
  align-items: center;
  column-gap: 10px;

  padding: 9px 20px;
  border: 1px solid var(--color-blanco);
  border-radius: 4px;

  font-size: 16px;
  transition: 250ms;
  cursor: pointer;
}

#proyectosButton img,
#aboutMeButton img,
#projectsIndex img {
  width: 15px;
  height: 15px;
  transition: 150ms;
}

#proyectosButton img {
  filter: invert(1);
}

#aboutMeButton:hover img,
#projectsIndex:hover img {
  transform: rotate(-45deg);
}

.widthButton {
  width: 126px;
}

#imgMoreno {
  width: 25%;
  position: relative;
}

#imgMoreno_resp {
  display: none;
}

#separation {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--color-blanco);
  transition: 350ms;
  /*background: linear-gradient(90deg, rgb(6 76 29) 9%, #0fdf54 100%);*/
  /*    background-image: url("../IMG/line_gran3.png");
    background-repeat: repeat;
    background-size: contain;*/
}

#arrowSeparation {
  border: solid var(--color-negro);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  opacity: 1;
  padding: 20px;
  transition: 150ms;

  position: relative;
  top: -11px;

}

/*--------------sobre mi------------------*/
#projects {
  width: 100%;
  height: auto;
  background-color: var(--color-negro);
  padding: 70px 50px;
  transition: 250ms;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#ContProjectsIndex {
  width: 560px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;

  color: var(--color-blanco);
  padding: 30px 20px;
  scale: 1;
  opacity: 0;
  transition: 250ms;
}

/*#ContProjectsIndex h1{
	font-size: 4em;
    font-family: Playfair, Montserrat;
    color: var(--color-green);
}*/
#ContImgProjectsIndex {
  scale: 1;
  opacity: 0;
  transition: 250ms;
}

.textIndex {
  font-weight: 100;
}

#ContTextProjectsIndex {
  line-height: 30px;
  margin-bottom: 20px;
}

#ContTextProjectsIndex h3 {
  font-weight: 100;
}

/*-----*/

#ContTitle2 {
  display: flex;
  align-items: center;
  font-size: 2.6em;
}

#ContTitle2 h1:nth-child(1) {
  color: var(--color-green);
}

.title2 {
  font-family: Playfair, Montserrat;
}

/*-----*/

#ContImgProjectsIndex img {
  width: 500px;

  animation: wiggle 11.1s infinite linear;
}

@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, 1px) rotate(0deg);
  }
}

/*-------*/

/*.btn-1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}*/
.btn-1 a {
  width: 145px;

  display: flex;
  justify-content: center;

  border: 2px solid var(--color-blanco);
  border-radius: 4px;
  padding: 9px 20px;
  /*letter-spacing: 2px;*/
  position: relative;
}

.btn-1 a span {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

span {
  position: relative;
  z-index: 3;
}

.btn-1 a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -3px;

  width: calc(100% + 6px);
  height: calc(100% - 10px);

  background-color: var(--color-negro);
  transition: all 350ms ease-in-out;
  transform: scaleY(1);
}

.btn-1 a:hover::before {
  transform: scaleY(0);
}

.btn-1 a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
  background-color: var(--color-negro);
  transition: all 350ms ease-in-out;
  transform: scaleX(1);
}

.btn-1 a:hover::after {
  transform: scaleX(0);
}

/*----------------------------*/
/*------    Sobre Mí    ------*/
/*----------------------------*/

#center-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-negro);
}

#aboutMe_two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 35px 0px 50px 0;
}

#ContAbout_two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
  color: var(--color-blanco);
  /* padding: 70px 70px 70px 20px; */
  padding-right: 70px;
  margin-left: 40px;
}

#ContAbout_two h3 {
  width: 550px;
  line-height: 30px;
  margin-bottom: 20px;
  font-weight: 100;
}

#imgMoreno_two {
  width: 360px;
  margin: 40px 40px 0px 0px;
  position: relative;
}

.titleExperience {
  font-family: Playfair, Montserrat;
  color: var(--color-blanco);
  font-size: 3em;
  padding: 50px 0 10px 0;
}

.ContTitle2 {
  display: flex;
  align-items: center;
  font-size: 1.6em;
}

.title2 {
  font-family: Playfair, Montserrat;
}

.title3 {
  font-family: Playfair, Montserrat;
  font-size: 4em;
}

.title4 {
  font-family: Playfair, Montserrat;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
}

.title4 span:nth-child(2) {
  font-family: Playfair, Montserrat;
  font-size: 0.6em;
}

.ContImgProjectsIndex img {
  width: 450px;
  margin-left: 40px;
}

/*----------------------------*/
/*------  Introducción  ------*/
/*----------------------------*/

.projects {
  width: min(1335px, 100%);
  height: auto;
  background-color: var(--color-negro);
  padding: 0px 50px 0px 50px;
  transition: 250ms;

  display: flex;
  justify-content: center;
  align-items: center;
  /*flex-wrap: wrap;*/
}

.experence {
  width: min(1335px, 100%);
  margin-top: 25px;
  padding: 0px 50px 0px 50px;
  height: auto;
  background-color: var(--color-negro);
  display: flex;
  gap: 25px;
}

.ContProjectsIndex {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  row-gap: 25px;

  color: var(--color-blanco);
  padding-bottom: 65px;
  scale: 1;
  transition: 250ms;
}

.ContTextProjectsIndex {
  /*width: 550px;*/
  line-height: 30px;
  margin-bottom: 10px;
}

.ContTextProjectsIndex h3 {
  font-weight: 100;
}

.ColFlexFecha {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.h3_fecha {
  font-size: 15px;
}

.h3_center {
  text-align: center;
}

.padding-left {
  padding-left: 65px;
}

.padding-right {
  padding-right: 65px;
}

.border-left-bottom {
  width: min(1500px, 100%);

  border-left: 1px solid var(--color-green);
  border-bottom: 1px solid var(--color-green);
  padding-left: 65px;
  padding-bottom: 65px;
}

.border-bottom {
  width: min(1500px, 100%);

  border-right: 1px solid var(--color-green);
  border-bottom: 1px solid var(--color-green);
  padding-right: 65px;
  padding-bottom: 65px;
}

.border-left-top {
  width: min(1500px, 100%);

  border-left: 1px solid var(--color-green);
  padding-left: 65px;
  padding-top: 65px;
}

.border-right-top {
  width: min(1500px, 100%);

  border-right: 1px solid var(--color-green);
  padding-right: 65px;
  padding-top: 65px;
}

.border-padding {
  width: min(1500px, 100%);

  border: 1px solid var(--color-blanco);
  border-radius: 20px;
  padding: 65px;
}
.no-border-padding {
  width: min(1500px, 100%);

  border-radius: 20px;
  padding: 65px;
}

.padding-form {
  width: min(1500px, 100%);

  border: 1px solid var(--color-blanco);
  border-radius: 20px;
  padding: 20px 50px;
}

/*------*/

.WButton {
  width: 40%;
  background: transparent;
  display: flex;
  align-items: center;
  column-gap: 10px;
  border: transparent;
}

.proyectosButton {
  background: var(--color-blanco);
  color: var(--color-negro);

  display: flex;
  align-items: center;
  column-gap: 10px;

  padding: 9px 20px;
  border: 1px solid var(--color-blanco);
  border-radius: 4px;

  font-size: 16px;
  transition: 250ms;
  cursor: pointer;
}

.proyectosButton img {
  width: 15px;
  height: 15px;
  transition: 150ms;
  filter: invert(1);
}

.proyectosButton:hover img {
  transform: rotate(-45deg);
}

/*/////////////////////////////////////*/
/*            MEDIA SOBRE MÍ           */
/*/////////////////////////////////////*/

/*------------------tablet-------------------*/
@media only screen and (max-width: 1301px) {

  /*INICIO*/
  #ContTitle {
    font-size: 3em;
  }

  #ContImgProjectsIndex img {
    width: 435px;
  }

  /*text*/
  .title3 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 1264px) {

  /*INICIO*/
  #aboutMe {
    flex-direction: column;
  }

  #ContAbout {
    align-items: center;
  }

  #ContAbout h3 {
    text-align: center;
  }

  #imgMoreno {
    display: none;
  }

  #imgMoreno_resp {
    display: block;
    width: 39%;
    position: relative;
  }
}

@media only screen and (max-width: 1222px) {

  /*INICIO*/
  #projects {
    padding: 31px 50px;
    flex-direction: column-reverse;
  }

  .btn-1 a {
    width: auto;
  }

  #ContProjectsIndex {
    text-align: center;
    align-items: center;
  }

  #ContImgProjectsIndex {
    display: none;
  }

}

@media only screen and (max-width: 1066px) {

  /*img*/
  #imgMoreno_two {
    width: 299px;
    margin: 40px 70px 0px 0px;
    position: relative;
  }

  .padding-left {
    padding-left: 5px;
  }

  /*text*/
  .title3 {
    font-size: 2.8em;
  }
}

@media only screen and (max-width: 941px) {

  /*formacion*/
  .title4 {
    font-family: Playfair, Montserrat;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
  }

  /*text*/
  .title3 {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 941px) {

  /*img*/
  #imgMoreno_two {
    width: 260px;
    margin: 25px 25px 0px 0px;
    position: relative;
  }

  /*text*/
  .title3 {
    font-size: 2.2em;
  }
}

@media only screen and (max-width: 801px) {

  /*text*/
  .title3 {
    font-size: 2em;
  }

  .padding-right {
    padding-right: 20px;
  }

  .projects,
  .experence {
    padding: 0px 30px;
  }
}

@media only screen and (max-width: 780px) {

  /*INICIO*/
  #aboutMe {
    padding: 0px 25px;
  }

  #ContProjectsIndex {
    padding: 30px 0px;
  }

  #projects {
    padding: 31px 15px;
  }

  #imgMoreno_resp {
    width: 78%;
  }
}

@media only screen and (max-width: 750px) {

  /*INICIO*/
  #imgMoreno_resp {
    width: 75%;
  }
}

@media only screen and (max-width: 735px) {

  /*INICIO*/
  #ContTitle {
    font-size: 3em;
  }

  #ContAbout h3 {
    width: auto;
  }

  /*-------*/

  .projects,
  .experence {
    flex-wrap: wrap;
  }

  /*quien soy*/
  .padding-right {
    padding: 22px 0px 12px 0px;
    row-gap: 20px;
    text-align: center;
  }

  .padding-right .ContTitle2,
  .padding-form .ContTitle2 {
    justify-content: center;
    text-align: center;
  }

  .padding-right div:nth-child(3) {
    justify-content: center;
  }

  .titleExperience {
    padding: 27px 0 10px 0;
  }

  /*img*/
  #imgMoreno_two {
    width: 72%;
    margin: 25px 0px 0px 0px;
  }

  .ContTextProjectsIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .ContProjectsIndex {
    row-gap: 20px;
  }

  /*lines*/
  .border-left-top {
    border-top: 1px solid var(--color-green);
  }

  .border-left-bottom {
    padding: 65px 0px 65px 65px;
  }
}

@media only screen and (max-width: 680px) {

  /*text*/
  .border-padding {
    width: min(1500px, 100%);
    border: 1px solid var(--color-blanco);
    border-radius: 20px;
    padding: 45px;
  }
  .no-border-padding {
    width: min(1500px, 100%);
    border-radius: 20px;
    padding: 45px;
}

  .border-left-top {
    padding-left: 40px;
    padding-top: 35px;
  }

  .border-right-top {
    padding-bottom: 40px;
    padding-right: 35px;
    padding-top: 35px;
  }

  .border-left-bottom {
    padding: 35px 0px 40px 40px;
  }

  .border-bottom {
    padding-right: 35px;
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 650px) {

  #ContTitle {
    font-size: 2.6em;
  }

  #ContTitle2 {
    font-size: 2em;
  }
}

@media only screen and (max-width: 600px) {

  /*INICIO*/
  #ContProjectsIndex {
    width: auto;
  }

  #flexButtons {
    justify-content: center;
  }
}

@media only screen and (max-width: 560px) {

  #ContTitle {
    font-size: 6.5vw;
  }

  #ContTitle2 {
    font-size: 5.7vw;
  }

  /*text*/
  #imgMoreno_resp {
    width: 100%;
  }
}

@media only screen and (max-width: 510px) {
  #trAnimate {
    font-size: 2.4em;
    transform: translateX(-97px);
    animation: size_tr_resp 2.2s ease-in-out;
  }

  @keyframes size_tr_resp {

    0%,
    55% {
      font-size: 12em;
      transform: translateX(0px);
    }

    70%,
    80% {
      font-size: 2.4em;
      transform: translateX(0px);
    }

    100% {
      font-size: 2.4em;
      transform: translateX(-97px);
    }
  }

  #trAnimate_2 {
    font-size: 2.4em;
  }
}

@media only screen and (max-width: 400px) {

  /* img sobre mi */
  #imgMoreno_two {
    width: 82%;
  }

  /*text*/
  .ContTextProjectsIndex {
    text-align: center;
  }

  .border-bottom,
  .border-left-bottom,
  .border-right-top,
  .border-left-top {
    align-items: center;
    text-align: center;
  }

  .centerTitleResp {
    text-align: center;
  }
}