/*/////////////////////////////////////*/
/*               VIDEOS                */
/*/////////////////////////////////////*/
main{
	display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 40px;
}

.ContVideos{
    width: 100%;
    padding: 20px 40px;

    display: flex;
    column-gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}
.ContNamesVideos{
	width: 660px;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    /*justify-content: space-evenly;*/
}
.ContNamesVideos h3:nth-child(1){
    color: var(--color-green);
    font-family: Playfair, Montserrat;
    padding-bottom: 5px;
    font-weight: 100;
}
.ContNamesVideos h3:nth-child(3){
    color: var(--color-blanco);
    font-weight: 100;
}
.ContNamesVideos h2{
    color: var(--color-blanco);
    padding-bottom: 15px;
}

.menuLine{
	width: 60%;
	height: 1px;
	background: linear-gradient(to right, #ffffff00, #CDCDCD, #ffffff00);
}

/*/////////////////////////////////////*/
/*                MEDIA                */
/*/////////////////////////////////////*/

/*------------------tablet-------------------*/
@media only screen and (max-width: 1340px){
/*img*/
    iframe{
        width: 760px;
        height: 39vh;
    }
/*text*/
    .ContNamesVideos {
        width: 760px;
        padding: 20px 0;
    }
    .menuLine {
        display: none;
    }
}
@media only screen and (max-width: 850px){
/*img*/
    iframe{
        width: 600px;
        height: 31vh;
    }
/*text*/
    .ContNamesVideos {
        width: 600px;
        padding: 20px 0;
    }
    .menuLine {
        display: none;
    }
}
@media only screen and (max-width: 674px){
/*img*/
    iframe{
        width: 500px;
        height: 26vh;
    }
/*text*/
    .ContVideos {
        padding: 10px 25px;
    }
    .ContNamesVideos h2 {
        padding-bottom: 10px;
    }
    .ContNamesVideos {
        width: 500px;
        padding: 20px 0;
    }
    .menuLine {
        display: none;
    }
}

/*------------------movil-------------------*/
@media only screen and (max-width: 500px){
/*img*/
    iframe{
        width: 560px;
        height: 16em;
    }
}
@media only screen and (max-width: 490px){
/*img*/
    iframe{
        width: 560px;
        height: 14em;
    }
}
@media only screen and (max-width: 445px){
/*img*/
    iframe{
        width: 560px;
        height: 13em;
    }
}
@media only screen and (max-width: 445px){
/*img*/
    iframe{
        width: 560px;
        height: 13em;
    }
}